.tabs {
    display: flex;
    justify-content: center;
    
    .tab-wrapper {
        display: flex;
        border-bottom: 2px solid #d1d5db;
    }

    .tab {
        padding: 10px;
        cursor: pointer;
    }

    .activated {
        color: #1f75fe;
        margin-bottom: -2px;
        border-bottom: 2px solid #1f75fe;
    }
}





