
body, html {
  padding: 0px;
  margin: 0px;
}

body, html {
  padding: 0px;
  margin: 0px;
}

content {
  
}

/* content > * {

} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.register { 
  display: flex; 
  flex-direction: column; 
  /* width: 20%; 
  margin: 15px; 
  margin-left: 40%; 
  margin-top: 10%; */
} 





.adminContent{ 
  display: flex;
  width: 37.5%; 
  justify-content: space-evenly; 
  margin-left: 30%; 
  margin-top: 10%; 
  flex-direction: row;
} 

.searchUser{ 
  display: flex; 
  flex-direction: row; 
} 

.getUsers{ 
  display: flex; 
  flex-direction: row; 
  margin-bottom: 15%;  
  justify-content: space-evenly;
} 

.editUsers{ 
  display: flex; 
  flex-direction: column; 
  width: 20%; 
  margin-left: 40%; 
}   

.registerContent{ 
  width: 85%; 
  margin-left: 15%;
}

.navbar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 0px; 
  display: inline-block;
}

.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; 
  font-size: 30px;
}

.navbar a:hover {
  color: #f1f1f1;
} 

.UI{ 
  padding-right: 100%;
} 

.openNav{   
  padding: 8px 8px 8px 32px;
  height: 100%;
  font-size: 30px; 
  display: flex; 

} 

.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} 
.addClass{
  height: 70%;
  width: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 0px; 
  display: inline-block; 
  display: flex; 
}  

.addClass li { 
  color: #f1f1f1;
}

.openClass{   
  padding: 8px 8px 8px 32px;
  height: 100%;
  flex-direction: row; 
  font-size: 30px; 
  margin-left: 100%; 
  
}  

.closeClass{ 
  
} 

.saveClass{ 
  margin-left: 87.5%; 
  margin-top: 50%; 
  display: flex;
}

.addClass .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}  

.classworkContent{ 
  width: 50%; 
  padding-left: 20%;  
  padding-right: 30%;
  padding-top: 0%;  
  padding-bottom: 20%;
  height: 70%; 
  
}  

.classes{ 
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}

.present{ 
  margin-top: 500px;
}

.adminContent{ 
  display: flex;
  width: 85%; 
  justify-content: space-evenly; 
  margin-left: 15%; 
  margin-top: 10%; 
  flex-direction: row;
}  

.editUsers{ 
  display: flex; 
  width: 85%; 
  margin-left: 15%; 
  justify-content: center;
}  

.text{ 
  display: flex; 
  width: 85%; 
  margin-left: 15%; 
  justify-content: center;
} 

.inputUsers{ 
  display: flex; 
  width: 85%; 
  margin-left: 15%; 
  justify-content: center;
  width: 85%; 
  margin-left: 15%; 
  justify-content: center;
}


.text{ 
  display: flex; 
  width: 100%; 
}

.searchUser{ 
  display: flex; 
  flex-direction: row; 
} 

.getUsers{ 
  display: flex; 
  flex-direction: row; 
  margin-bottom: 15%;  
  justify-content: space-evenly; 
  height: 30%; 
  width: 85%; 
  margin-left: 15%;
} 

.text{ 
  display: flex; 
  width: 100%; 
} 

.inputUsers{ 
  display: flex; 
  flex-direction: column; 
  margin: 2px;
} 

.adminStuff{ 
  display: flex; 
  height: 100%; 
  width: 100%; 
  justify-content: center;
}

.adminTitle{ 
  display: flex; 
  width: 100%; 
  justify-content: center; 
  display: inline-block;
  text-align: center; 
  margin: auto;
} 

.adminSignIn{ 
  display: flex; 
  width: 100%;   
  position: relative; 
  justify-content: center;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


